body {
    background-color: #1e1e2e;
}

.text-light {
    color: #cdd6f4;
}

.text-yellow {
    color: #f9e2af;
}

.text-red {
    color: #f38ba8;
}

.text-peach {
    color: #fab387;
}

.text-green {
    color: #a6e3a1;
}

.text-blue {
    color: #89b4fa;
}

.text-purple {
    color: #cba6f7;
}